* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Heebo", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
    color: #666565;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  





  .container {
    max-width: 1700px;
    margin: 0 auto;
  }

  nav div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    gap: 30px;
  }

  nav a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
  }

  nav span{
    color: rgb(234, 67, 30);
  }

  ul{
    list-style: none;
    display: flex;
    gap:30px

  }

  .nav-link {
    padding: 25px 0;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 700;
  } 

  #first-link{
    color: rgb(255, 60, 0);
  }

#home-container{
  background-image: url("images/home.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  min-height:830px;
  display: flex;
  justify-content: start;
  align-items: end;
}

#home{
  display: flex;
  flex-direction: column;
  color: #fff;
  row-gap: 40px;
  max-width: fit-content;
  margin: 0 0 10% 9%;
}

#home h2{
  font-size: 70px;
}

#home p{
  font-size: 20px;
  font-weight: 100;
  max-width: 500px;
  color: rgb(238, 238, 238);
}

#home button{
  display: inline-block;
  color: #fff;
  text-align: center;
  max-width: 200px;
  background-color: #000;
  padding: 16px 32px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 200ms ease;
  box-shadow: 0 9px #505050;
}

#home button:hover {
  background-color: #363d3c;
  /* max-width: 205px; */
}

#home button:active {
  background-color: #1d0d0d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#shop-container{
  margin:100px 0;
  background-color: #eff8ff;
  width: 100%;
  height: auto;
}

#shop{
  display: flex;
  column-gap: 5%;
}

#shop img{
  max-width: 50%;
  height: auto;
}

#shop-information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 4%;
  font-family:sans-serif;
}

#shop h3{
  font-size: 55px;
  color: #000;
  font-weight:800 ;
}

#shop span{
  color: rgb(234, 67, 30);
  text-transform: capitalize;
}

#shop p{
  font-size: 35px;
  /* font-size: 1.8vw; */
  font-weight: 100;
  max-width: 800px;
  color: rgba(128, 128, 128, 0.50);
}

#shop a{
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  font-weight: 800;

}

#products{
  display: flex;
  flex-direction: column;
}

#products h3{
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  text-transform: capitalize;
  margin: 60px;
  color: #000;
}

#products button{
  display: inline-block;
  margin: 80px auto;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  background-color: #fff;
  font-weight: 900;
  cursor: pointer;
}

.products-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap:20px ;
  row-gap: 20px;
}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  width: 30%;
  min-width: 250px;
  text-transform: capitalize;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: transform 250ms ease;
}

.product-firstline p{
  text-align: center;
}

.product{
  justify-content: space-between;
}

.product-2 a{
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 23px;
  font-weight: 900;
  display: inline-block;
}

.product:hover {
  transform: translateY(-8px);
}

.product-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 30px;
  color: rgba(128, 128, 128, 1);;
}

.product-firstline{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-firstline h4{
  font-size: 25px;
  font-weight:800;
  color: #000;
  text-transform: capitalize;
}

footer{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100px;
  text-transform: capitalize;
  row-gap: 6px;
  padding: 60px;
}

footer h4{
  color: #fff;
  font-size: 24px;
}

footer p{
  color: #363d3c;
  font-size: 13px;
}

footer span{
  color:rgb(118, 115, 114);
}

@media all and (max-width: 1300px) {
  #shop-information h3{
    font-size: 45px;
  }
  #shop-information p{
    font-size: 25px;
  }
}

@media all and (max-width: 990px) {
  #shop-information h3{
    font-size: 35px;
  }
  #shop-information p{
    font-size: 20px;
  }
  #shop-information a{
    font-size: 12px;
  }
  .product-firstline{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-secondline{
    text-align: center;
  }
  .products-container{
    margin: 10px 5px;
  }

  .product-firstline h4,.product-firstline h4 a{
    font-size: 20px;
  }

  .product-secondline p{
    font-size: 12px;
  }
}

@media all and (max-width: 790px){
  .products-container{
    row-gap: 20px;
  }
  
  #home-container{
    min-height: 700px;
  }

  #shop img{
    display: none;
  }

  #shop {
    background: linear-gradient(
        to right,
        rgba(19, 5, 211, 0.85),
        rgba(204, 0, 250, 0.85)
      ),
      url("images/shop.jpg") no-repeat center/cover;

    max-height:450px;
    height: 450px;
    display: flex;
    justify-content: center;
  }

  #shop-information{
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }

  #shop-information h3{
    font-size: 50px;
  }

  #shop-information p{
    font-size: 29px;
    color: rgb(226, 203, 203);
  }
  
  #shop-information a{
    font-size: 16px;
  }

  nav div{
    display: flex;
    flex-direction: column;
    margin-top:15px ;
    gap: 10px;
  }

  nav a{
    font-size: 50px;
  }

  .nav-link{
    font-size: 25px;
  }

}

@media all and (max-width: 680px){
  nav a{
    font-size: 50px;
  }

  .nav-link{
    font-size: 20px;
  }

  #shop-information h3 {
    font-size: 45px;
  }
 
  #shop-information p {
    font-size: 20px;
  }

  #home-container {
    min-height: 565px;
  }
  
  #home {
    row-gap: 23px;
  }

  #home p{
    font-size: 18px;
  }
  #home h2{
    font-size: 50px;
  }
}

@media all and (max-width: 580px){
  #home-container{
    background-position:center ;
  }

  nav a{
    font-size: 35px;
  }

  .nav-link{
    font-size: 16px;
  }

  #shop-information h3 {
    font-size: 45px;
  }
 
  #shop-information p {
    font-size: 20px;
  }

  #products h3{
    font-size: 41px;
  }

  #products h3 {
    font-size: 35px;
    margin: 60px 10px;
 }
}
@media all and (max-width: 450px){
  ul{
    gap: 18px;
  }
  
  nav a{
    font-size: 25px;
  }

  .nav-link{
    font-size: 12px;
  }

  #shop-information h3 {
    font-size: 45px;
  }
 
  #shop-information p {
    font-size: 20px;
  }

  #home-container {
    min-height: 450px;
  }
  
  #home {
    row-gap: 10px;
  }

  #home p{
    font-size: 14px;
  }
  #home h2{
    font-size: 35px;
  }
}

